.layer {
    
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 1000px; /* Ширина блока */
    height: 100px; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
   } 