.show {
    background-color: #0B4C5F;
}

.layer {
    background-color: #0B2F3A;
    right: 50px;
    top: 5px;
    position: fixed;
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 700px; /* Ширина блока */
    height: 900px; /* Высота блока */
    } 

