.show {
    background-color: #1a252a;
    font-family: "Courier New", Courier, monospace;
}

#draw{
    background-color: #212f35;
    width: 1100;
    height: 900;
    border: 1px solid #F5A9A9;
    position: fixed;
    left: 50;
}


#layer {
    background-color:  #212f35;
    right: 50px;
    border: 1px solid #f5a9a9;
    position: fixed;
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 700px; /* Ширина блока */
    height: 480px; /* Высота блока */
}


.record{
    color:#eebebe ;
    font-size: xx-large;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    width: 620px;
    position: relative;
    left: 25;
    top: 25; 
    background-color: #212f35;
    border: 5px solid rgb(28, 42, 47);
}

.selected_record{
    color:#313346;
    font-size: xx-large;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    width: 620px;
    position: relative;
    left: 25;
    top: 25; 
    background-color: #aeffd4;
    border: 5px solid rgb(28, 42, 47);
}

.active_record{

    color:#eebebe ;
    font-size: xx-large;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    width: 620px;
    position: relative;
    left: 25;
    top: 25; 
    background-color: #304650;
    border: 5px solid rgb(28, 42, 47);
}

.text{
    text-align: center;
    color: rgb(255, 227, 227);
}

#names{
    width: 1100;
    height: 900;
    border: 1px solid #F5A9A9;
    position: fixed;
    left: 50;
}

.informations{
    background-color: #212f35;
    top: 508px;
    right: 370px;
    border: 1px solid #F5A9A9;
    position: fixed;
    /*overflow: scroll; /* Добавляем полосы прокрутки */
    width: 380px; /* Ширина блока */
    height: 400px; /* Высота блока */
}


#about{
    
    color: rgb(255, 227, 227);
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    width: 300px;

    left: 20px;
}

.names_of_parameters{
    position: relative;
    top: 20px;
    left: 40px;
    height: 400px;
    width: 120px;

    color: rgb(207, 181, 181);
    font-size: x-large;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    
}

.parameters{
    position: relative;
    top: -400px;
    left: 220px;
    width: 120px;
    height: 400px;

    color: rgb(255, 233, 162);
    font-size: x-large;
    font-family: "Courier New", Courier, monospace;
    position: relative;
    
}


.buttons{
    background-color: #212f35;
    top: 508px;
    right: 50px;
    border: 1px solid #F5A9A9;
    position: fixed;
    /*overflow: scroll; /* Добавляем полосы прокрутки */
    width: 300px; /* Ширина блока */
    height: 400px; /* Высота блока */
    
}

.button{
    color: rgb(255, 227, 227);
    font-size: medium;
    font-family: "Courier New", Courier, monospace;
    width: 250px;
    height: 35px;
    left: 25px;
    position: relative;
    background-color: #2e434d;
    border: 5px solid #212f35;
}

.create{
    color: rgb(28, 42, 47);
    font-size: medium;
    font-family: "Courier New", Courier, monospace;
    width: 300px;
    height: 60px;
    position: relative;
    background-color: #eebebe;
    border: 5px solid #212f35;
}

#colors{
    fill:#2a3c46;
    stroke:rgb(15, 15, 15);
    stroke-width:1;
}

#save{
    position: fixed;
    top: 20px;
    right: 780px;
    width: 100;
    height: 40;
    color: rgb(28, 42, 47);
    font-size: medium;
    font-family: "Courier New", Courier, monospace;
    background-color: #eebebe;
    border: 2px solid #4b4b4b;
}